<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <div>
        <h1>Food App</h1>
        <ul>
            <li><a href="{% url 'food:dosa' %}">Dosas... </a></li>
            <li><a href="{% url 'food:biryani' %}">Biryanies.. </a></li>
            <li><a href="{% url 'instamart:home' %}">Click here for go to Instamart ☠️ App</a></li>
        </ul>
    </div>
</body>
</html>