<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employees </title>
</head>
<body>
    <center>
        <table border="3px">
            <tr>
                <th>Emp No</th>
                <th>Emp Name</th>
                <th>Job</th>
                <th>Hire Date</th>
                <th>Sal</th>
                <th>Comm</th>
                <th>Dept No</th>
                <th>MGR</th>
            </tr>
            {% for row in QSEO %}
            <tr>
                <td>{{ row.empno }}</td>
                <td>{{ row.ename }}</td>
                <td>{{ row.job }}</td>
                <td>{{ row.hiredate }}</td>
                <td>{{ row.sal }}</td>
                <td>{{ row.comm }}</td>
                <td>{{ row.deptno }}</td>
                <td>{{ row.mgr }}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
    
</body>
</html>