<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Self Join</title>
</head>
<body>
    <center>
        <h2><i>~~ EMP TO MANAGER ~~</i></h2>
        <table border="3px">
            <tr>
                <th>Emp Name</th>
                <th>Emp No</th>
                <th>Sal </th>
                <th>Mgr Name</th>
                <th>Mgr Emp No</th>
                <th>Mgr Dept No</th>
                <th>Sal </th>
            </tr>
            {% for EMO in QSEMO %}
            <tr>
                <td>{{ EMO.ename }}</td>
                <td>{{ EMO.empno }}</td>
                <td>{{ EMO.sal }}</td>
                <td>{{ EMO.mgr.ename }}</td>
                <td>{{ EMO.mgr.empno }}</td>
                <td>{{ EMO.mgr.deptno }}</td>
                <td>{{ EMO.mgr.sal }}</td>
            </tr>
            {% endfor %}

        </table>
    </center>
</body>
</html>