<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Box</title>
</head>
<body>
    <center>
        <form action="{% url 'select-multiple-topics' %}" method="POST">
            {% csrf_token %}
            <label>Select your topics: </label><br>

            {% for to in QLTO %}
                <label for="topics">{{to.topic_name}}</label>
                <input type="checkbox" name="topics" id="topics" value="{{to.topic_name}}">
                <br>
                <br>
            {% endfor %}
            <input type="submit" value="Submit">
        </form>
    </center>
</body>
</html>