<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topics</title>
</head>
<body>
    <h1 align="center"><i>**  Topics **</i></h1>
    <table border="3px">
        <thead>
            <tr>
                <th>Topic Name</th>
            </tr>
        </thead>
        <tbody>
            {% for TO in QSTO %}
            <tr>
                <td>{{TO}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>