<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Pages</title>
</head>
<body>
    <h1 align="center"><i>**  Web Pages **</i></h1>
    <table border="3px" align="center" width="500px">
        <thead >
            <tr>
                <th>ID</th>
                <th>Topic Name</th>
                <th>Name</th>
                <th>URL</th>
                <th>Email</th>
                <th>Phone</th>
            </tr>
        </thead>
        <tbody>
            {% for WO in QSWO %}
            <tr>
                <td>{{ WO.id }}</td>
                <td>{{ WO.topic_name }}</td>
                <td>{{ WO.name }}</td>
                <td>{{ WO.url }}</td>
                <td>{{ WO.email }}</td>
                <td>{{ WO.mobile }}</td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>